$background-color: #fafafa;
$text-color: #33474b;
$background-dark-color: #33474b;
$text-color-dark: #fafafa;

$selected-color: #fff;
$selected-background-color: #26351c;

$primary-color: #EB811B;
$secondary-color: #51483D;
$secondary-light-color: #8b7c69;

$arrow-color: #25211c; 


