#tc-icon {
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background:none; border:none; box-shadow:none;
  height: 30%
}

#diagram {
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background:none; border:none; box-shadow:none;

}

#devvsqa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}


.highlight {
  color: #eb811b;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 40%;
}


