$primary-color: #eb811b;

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.highlight {
  color: $primary-color;
}

.reveal blockquote {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: $primary-color;
  padding-left: 1rem !important;
  text-align: left;
}

.img-row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    max-width: 30%;
  }
}
